
/* .card{
    justify-self: center;
    width: 450px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
} */

.labelEmail{
    font-weight:lighter;
    /* background-color: #2b2b29; */
    border-radius: 5px;
    width: 45px;
    height: 27px;
    padding-left: 4px;
    color:aliceblue;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    backdrop-filter: blur(1px); 
    background-color: rgba(0, 0, 0, 0.2); 
}
.labelPass{
    font-weight:lighter;
    background-color: #2b2b29;
    border-radius: 5px;
    width: 70px;
    height: 27px;
    padding-left: 4px;
    color:aliceblue;
    box-shadow: 0 15px 25px rgba(20, 19, 19, 0.2); 
    backdrop-filter: blur(1px); 
    background-color: rgba(0, 0, 0, 0.2); 
}

.container{
    padding-top: 5%;
}

.signup_link{
    width: 400px;
    margin-top: 25px;
}

.submitbtn{
    background-color:  #f3c44b;
}

.inputbox{
    border-radius: 5px;
    height:35px;
}
.card{
    border-radius: 10px;
    /* background-color:#d4bc8e;
    opacity: 0.9;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    backdrop-filter: blur(14px);  */
    box-shadow: 0 15px 25px rgba(8, 7, 7, 0.2); 
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

body{
    background-image: url(resources/restologin.jpg);
    background-size:2000px;
}

.loginTitle{
    font-weight: bold;
    color:#1f1f1d;
    margin-bottom: 4%;
}

.signup_link{
    font-size: 19px;
    width: 200px;
    text-align: center;
    /* margin-top: 50px;
    text-align: center; */
}

.signup_link a{
    padding-inline: 4px;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 19px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 15px 25px rgba(20, 19, 19, 0.2); 
    backdrop-filter: blur(100px); 
    background-color: rgba(0, 0, 
    0, 0.5); 
}

.btnRefresh img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.refreshText{
    margin-left:23px;
    margin-top: 1px;
    font-weight: bolder;
    font-weight: 800;
}